<div class="card">
  <div class="card-body">

    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>Projects</span>
      <%= link_to 'New Project', new_project_path, class:'btn btn-primary' %>
    </h2>
   
    <% @projects.each do |project| %>
      <%= link_to project, class:'text-decoration-none' do %>
        <div class="card project-card my-3">
          <div class="card-body">
            <h4 class="card-title text-dark mt-1"><%= project.name %></h4>
            <hr class="inner-card-hr text-dark" />
            <p class="text-secondary mt-3"><%= project.description %></p>
          </div>  
        </div>
      <% end %>
    <% end %>

  </div>  
</div>


