body {
    box-sizing: border-box;
    background-color: #eeeeeeee;
}

.inner-card-hr {
    width: 30%;
    margin: 0;
}

.project-card{
    transition: background-color 0.5s ease;
    &:hover {
        background-color: #eeeeee98;   
    }
}

.font-italic-sm {
    font-style: italic !important;
    font-size: 0.9rem;
    margin-left: 6px;
}

.list-style-none{
    list-style: none;
    padding-left: 0;
}

.grabbable{
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.task-icons{
    .grip{
        font-size: 1.1rem;
        margin-right: 8px;
    }
}